{% extends "email.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div id="email-content">
        <h1>Greetings {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</h1>
        <p>Someone has requested a password reset for the account registered with this email.
            If this was not you, you can ignore this email</p>
        <p>If this was you, please follow this link to reset your password: <br>
            <a class="text-break"
               href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
                {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
            </a>
        </p>
        <h3>Cheers,<br>Ely Cathedral Library Team</h3>
    </div>
{% endblock %}