{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <h1>Update Account Information</h1>
    <p>
    <a class="btn btn-block btn-primary" href="{% url "accounts:password_change" %}">Change Password</a>
    </p>
    <div class="card my-3">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ memberform|crispy }}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-lg btn-block btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}